body {
	margin-left: 0px;
	margin-right: 0px;
}
#wrap {
	margin-left: 0px;
	margin-right: 0px;	
}
#wrap > #header {
	background-image: url('img/header-background.png');
	height: 84px;
	width: auto;
	margin-right: 0px;
	margin-left: 0px;
}